<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kusuma V | Portfolio</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <div class="logo">Kusuma V</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</nav>

<section class="hero">

    <div class="hero-text">
        <img src="{{ url_for('static', filename='images/profile.jpg') }}"
     alt="Profile Photo"
     class="profile-pic">

        <h1>Hello, I'm <span>Kusuma V</span></h1>

<h3>Electronics & Communication Engineering Student</h3>

<p>
Passionate about Python, Full Stack Development and AI.
I enjoy building modern web applications and solving real-world
problems through technology.
</p>

<a href="#projects" class="btn">View Projects</a>

<a href="#contact" class="btn">Contact Me</a>

<a href="/static/resume/KUSUMAV_resume.pdf" class="btn" download>
Download Resume
</a>

  <a href="{{ url_for('static', filename='resume/KUSUMAV_resume.pdf') }}" download>
    <button>Download Resume</button>
</a>

<a href="/projects">
    <button>View Projects</button>
</a>

<a href="/contact">
    <button>Contact Me</button>
</a>

    </div>

</section>

<section class="home-about">

    <h2>About Me</h2>

    <p>
I'm Kusuma V, an Electronics and Communication Engineering student at
Rajarajeswari College of Engineering.

I am passionate about Python, Web Development, Artificial Intelligence,
and Software Development.

I enjoy creating responsive websites, solving coding problems, and
developing practical projects that improve real-life situations.

Currently I am preparing for software developer roles while continuously
improving my skills in Full Stack Development, Data Structures, SQL,
JavaScript and Flask.
</p>

</section>

<section class="skills">

    <h2>Technical Skills</h2>

    <div class="skills-grid">

        <div class="card">Python</div>
        <div class="card">HTML</div>
        <div class="card">CSS</div>
        <div class="card">JavaScript</div>
        <div class="card">Flask</div>
        <div class="card">SQL</div>
        <div class="card">Git</div>
        <div class="card">GitHub</div>

    </div>

</section>

<footer>

    <p>© 2026 Kusuma V | Portfolio Website</p>

</footer>

</body>
</html>